<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">


</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="col-md-6 col-sm-12 mr-auto offset-md-2">
				<div class="login-form">
					<form th:action="@{/signin}" method="post" action="/user/dashboard">
						<div class="form-group">
							<label>Email</label> <input type="text" class="form-control"
								placeholder="Enter Email" name="username">
						</div>
						<div class="form-group">
							<label>Password</label> <input type="password"
								class="form-control" placeholder="Password" name="password">
						</div>
						<button type="submit" class="btn bg-primary">Login</button>
						<button type="submit" class="btn btn-secondary">Forgot
							Password</button>
						<div th:if="${param.error}" class="alert alert-danger">
							Invalid username or password</div>
						<div th:if="${param.logout}" class="alert alert-danger">you
							have been logged out</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>